@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body, body > div {
  height: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #ECECEC;
  color: #222222;
}

a {
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  max-width: 1312px;
  margin: 0 auto;
}

@media screen and (max-width: 1312px) {
  .container {
    padding: 0 80px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 20px;
  }
}

